
/* Open source font - JBG */
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

html {
	height: 100%;
}

body {
	margin: 0;
	font-family: 'Hind', serif;
	line-height: 1.5;
	color: #333;
	min-height: 100%;
	background: #fff;
	text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: 500;
	font-size: 1em;
	font-family: Hind, sans-serif;
}

h1 {
	font-size: 2em;
	font-weight: bold;
	margin: 0 0 1em 0;
}

h2 {
	border-bottom: thin solid black;
}

a {
	color: inherit;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: calc(1em - 2px);
	color: #555;
	background-color: #f0f0f0;
	padding: 0.2em 0.4em;
	border-radius: 2px;
}

img {
        max-width: 100%;
}

@media (min-width: 400px) {
	body {
		font-size: 16pt;
	}
}
